body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Rest previews / list */
.rest-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.rest-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.rest-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.rest-preview a{
  text-decoration: none;
}


/* Rest details page */
.rest-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.rest-details div {
  margin: 20px 0;
}
.rest-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}